body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Form .form-item {
  margin-bottom: 15px;
}

.Form .form-item label {
  display: block;
}

.Form .form-item.has-error input {
  border-color: red;
}

.Form .error-message {
  display: block;
}
.Form .error-message .error-item {
  color: red;
  font-size: 10px;
  display: block;
}

.tab-header .menu-item {
  background-color: lightgrey;
  border: none;
  font-weight: bold;
  height: 30px;
  width: 200px;
}

.tab-header .menu-item.is-active {
  background-color: white;
  border: none;
  color: green;
}
